body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("images/concrete_seamless.png");
}

.title
    {
      -webkit-text-fill-color: #b8d8fb;
      width:620px;
      height: 50px;
      margin:7px auto;
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      ;
      background: #31B3DA
      }